/* stylelint-disable order/properties-order */
/* stylelint-disable property-no-vendor-prefix */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  font-size: 10px;
  line-height: 1.2;

  @include mq(custom, max, 1440) {
    font-size: 8px;
  }

  @include mq(sm) {
    font-size: 10px;
  }

  @include mq(custom, max, 350) {
    font-size: 9px;
  }

  @include mq(custom, max, 310) {
    font-size: 8px;
  }
}

body {
  color: var(--color-dark);
  font: var(--font-body);
  background-color: #fff;
}

ul,
ol {
  list-style: none;
}

ol {
  counter-reset: ordered-list;

  &>li {
    counter-increment: ordered-list;

    &::before {
      content: counter(ordered-list, decimal-leading-zero) ".";
    }
  }
}

textarea {
  display: block;
  width: 100%;
  height: 20rem;
  overflow: auto;
  box-shadow: none;
  resize: none;

  @include customScrollbar();
}

input,
textarea {
  display: block;
  width: 100%;
  font: inherit;
  background-color: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: transparent;
}

input:not([type="checkbox"]):not([type="radio"]) {
  appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  margin: 0;
  appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="search"] {
  /* 1 */
  outline-offset: -2px;

  /* 2 */
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

input[type="search"]::-webkit-search-cancel-button {
  display: none;
  -webkit-appearance: none;
}

button {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 0;
  color: inherit;
  font: inherit;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: color 0.2s;
  user-select: none;
  -webkit-appearance: none;
}

.button-2 {
  border-radius: 0.3rem;
  padding: 1.8rem 3rem;
  background: #fe5000;
  font-weight: 700;
  font-size: 2rem;
  line-height: 100%;
  text-align: center;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;

  &--big {
    padding: 2.9rem 9.3rem;
    font-weight: 500;
    font-size: 3.5rem;
    border-radius: 1rem;
  }

  &--white {
    background-color: #fff;
    color: #fe5000;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.25);

    @include mq(sm) {
      padding: 2rem 7rem;
      font-size: 2.3rem;
    }
  }
}

a {
  background-color: transparent;
  text-decoration: none;
  transition: color 0.2s;
  color: inherit;
  outline: none;
}

svg {
  flex-shrink: 0;
  display: block;
  user-select: none;
  fill: currentcolor;
  transition: fill 0.2s;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  user-select: none;
}

.list-rest {
  padding: 0;
  margin: 0;
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.site-container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 var(--padding-offset);
}

.site-container-2 {
  width: 100%;
  max-width: 1342px;
  margin: 0 auto;
  padding: 0 35px;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.page-main {
  flex-grow: 1;
}

.page-home {
  .header__call {
    display: none;
  }
}

.page-cube {
  .header {
    background-color: #fff;

    @include mq(lg) {
      .header__call {
        display: none;
      }
    }

    .header__nav {
      margin-left: auto;
      margin-right: 3.8rem;
    }
  }

  .main-menu {
    .header__call {
      margin-top: 3rem;
    }
  }

  .nav__list-link {
    color: #000;
  }

  .header__btn span {
    background-color: #fe5000;
  }
}

.disable-scroll {
  overflow: hidden;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

button:focus {
  outline: none;

  &.focus-visible {
    outline: 1px solid red;
  }
}

a:focus {
  outline: none;

  &.focus-visible {
    outline: 1px solid red;
  }
}

.js-focus-visible button:focus:not(.focus-visible),
.js-focus-visible a:focus:not(.focus-visible) {
  outline: none;
}


.title {
  font-size: 5rem;
  font-weight: 700;

  @include mq(custom, min, 1440) {
    font-size: 4rem;
  }

  @include mq(md) {
    font-size: 4rem;
  }

  @include mq(sm) {
    font-size: 3.5rem;
  }

  @include mq(xs) {
    font-size: 3.2rem;
  }
}

.title-2 {
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 115%;
  color: #000;

  @include mq(sm) {
    font-size: 4.5rem;
  }

  @include mq(xs) {
    font-size: 4rem;
  }
}

.parsley-errors-list {
  .parsley-required {
    display: none;
  }
}
