section.article
  .site-container
    h1.article__title Видеоаналитика
    p.article__desc Искусственный интеллект для контроля и защиты бизнеса
    .article__inner
      h2 Видеоаналитика – контроль и защита вашего бизнеса с помощью искусственного интеллекта
      p
        | Каждый собственник бизнеса ставит в приоритет увеличение не только общей выручки, но и чистой прибыли компании. Сокращение издержек от мошенничества, нарушения скриптов и регламентов, предумышленная почка имущества – всё это косвенные потери бизнеса, которые сложно отследить и предотвратить.
      img(src="assets/images/article/img-1.jpg" alt="")
      p
        | С помощью удаленного сервиса видеоаналитики ваш бизнес будет обеспечен надежной защитой, а также
        | дополнит арсенал маркетинговых инструментов для сбора важных статистических данных. Модули аналитики
        | наладят мониторинг основных бизнес-процессов:
      .article__row
        ul
          li · Распознавание лиц и поиск по архиву
          li · Распознавания автомобильных номеров и поиск по архиву
          li · Детектор очереди
          li · Детектор огня
          li · Детектор дыма
          li · Детектор саботажа
          li · Детектор шума
          li · Детектор тишины
          li · Детектор движения
        img(src="assets/images/article/img-2.jpg" alt="")
      p
        | Как применяются перечисленные модули? Каждый из представленных модулей обеспечивает прежде всего
        | контроль безопасности. Их подробное применение мы распишем детально позже, для начала отметим
        | маркетинговое применение отдельных модулей.
