.main-menu {
  position: fixed;
  top: -110%;
  right: 0;
  left: 0;
  height: 100%;
  transition: top 0.5s, background-color 2s;
  z-index: 12;

  &.active {
    top: 0;
    background-color: rgba(43, 43, 43, 0.3);
  }

  &__container {
    padding: 13rem 0 4.5rem;
    background-color: var(--color-white);
  }

  .nav__list {
    display: flex;
    flex-direction: column;
  }

  .nav__list-link {
    display: block;
    color: var(--color-dark);
    font-size: 2.9rem;
  }
}

.nav__list-phone {
  margin-left: 2rem;
}
