

section.advantages
  .site-container
    h2.advantages__title.title Преимущества Виртуальной АТС
    ul.advantages__list.js-accordions
      li.advantages__list-column
        .advantages__list-item.js-accordion
          .advantages__list-item-contain.js-accordion-btn
            img.advantages__list-item-icon(src="assets/images/advantages/icon-1.svg" alt="")
            .advantages__list-item-title Централизованная система управления вызовами
            .advantages__list-item-cross
          .advantages__list-item-content-wrapper.js-accordion-content
            .advantages__list-item-content
              p Система позволяет быстрее и точнее управлять звонками и направлять их по нужному каналу. Вашим клиентом удобно с Вами работать, а персонал работает еще мощнее.
        .advantages__list-item.js-accordion
          .advantages__list-item-contain.js-accordion-btn
            img.advantages__list-item-icon(src="assets/images/advantages/icon-3.svg" alt="")
            .advantages__list-item-title Встроенная система отчетности
            .advantages__list-item-cross
          .advantages__list-item-content-wrapper.js-accordion-content
            .advantages__list-item-content
              p Не ломайте голову над отчетами, наша система автоматически даст знать все, что нужно: количество звонков, количество холодных и горячих заявок, процент активных клиентов.
      li.advantages__list-column
        .advantages__list-item.js-accordion
          .advantages__list-item-contain.js-accordion-btn
            img.advantages__list-item-icon(src="assets/images/advantages/icon-2.svg" alt="")
            .advantages__list-item-title Удобная система голосового меню
            .advantages__list-item-cross
          .advantages__list-item-content-wrapper.js-accordion-content
            .advantages__list-item-content
              p Управляйте звонками без лишних движений. Система голосового меню уменьшит время ожидания и повысит эффективность работы с клиентами.
              p Управляйте звонками без лишних движений. Система голосового меню уменьшит время ожидания и повысит эффективность работы с клиентами.
        .advantages__list-item.js-accordion
          .advantages__list-item-contain.js-accordion-btn
            img.advantages__list-item-icon(src="assets/images/advantages/icon-4.svg" alt="")
            .advantages__list-item-title Интеграция с CRM
            .advantages__list-item-cross
          .advantages__list-item-content-wrapper.js-accordion-content
            .advantages__list-item-content
              p Интегрируйте любую удобную для Вас CRM-систему. Еще больше клиентов, больше контроля, больше эффективности