section.apps
  .site-container
    .apps__wrapper
      h2.apps__title.title Скачайте приложение <br> Летай ВАТС
      img.apps__img(src="./assets/images/apps/qr-code.png" alt="")
      .apps__box
        a.apps__box-link(href="/")
          img.apps__box-img(src="./assets/images/apps/app-store.png" alt="")
        a.apps__box-link(href="/")
          img.apps__box-img(src="./assets/images/apps/google-play.png" alt="")