section.brands
  .site-container
    .brands__inner
      h2.brands__title.title Интеграция с CRM
      ul.brands__list
        li.brands__list-item
          img.brands__list-item-img(src="assets/images/brands/logo-1.png" alt="")
        li.brands__list-item
          img.brands__list-item-img(src="assets/images/brands/logo-2.png" alt="")
        li.brands__list-item
          img.brands__list-item-img(src="assets/images/brands/logo-3.png" alt="")
        li.brands__list-item
          img.brands__list-item-img(src="assets/images/brands/logo-4.png" alt="")
