section.description(id="description")
  .site-container
    .description__inner
      h2.description__title.title Что такое Виртуальная АТС
      p.description__desc
        | Виртуальная АТС (Автоматическая Телефонная Система) - облачная телефонная связь через интернет и полноценная замена физической офисной мини-АТС. Она помогает лучше управлять телефонными звонками в бизнесе: есть голосовое меню, звонки идут в очереди, можно записывать разговоры и другие функции.