section.intro
  .intro__swiper
    .swiper-wrapper
      .swiper-slide
        img.intro__swiper-img(src="assets/images/intro/bg-img-1.jpg" alt="")
      .swiper-slide
        img.intro__swiper-img(src="assets/images/intro/bg-img-2.jpg" alt="")
      .swiper-slide
        img.intro__swiper-img(src="assets/images/intro/bg-img-3.jpg" alt="")
  .site-container
    .intro__inner
      h1.intro__title Виртуальная АТС <br> для повышения продаж и управления звонками
      p.intro__desc Современное решение для организации телефонной связи в бизнесе
      .intro__btns
        button.intro__btn.button(data-path="modal-error") Отправить заявку
        a.intro__btn.button.button--white(href="#") Подключить самому
