section.knowledge
  .site-container
    h2.knowledge__title.title Остались вопросы по услугам?
    p.knowledge__desc Перейдите в раздел Базу Знаний, чтобы узнать подробности каждой из услуг
    a.knowledge__link(href="#") База знаний