main.page-main.main
	include intro.pug
	include description.pug
	include solutions.pug
	include advantages.pug
	include worked-better.pug
	include brands.pug
	include tariffs.pug
	include additional.pug
	include articles.pug
	include services.pug
	include apps.pug
	include knowledge.pug
	include application.pug
	include questions.pug
