section.tariffs(id="tariffs" style="background-image: url('assets/images/tariffs/bg-img.png')")
  .site-container
    h2.tariffs__title.title Тарифы
    .tariffs__swiper-wrapper
      .tariffs__swiper
        ul.tariffs__list.swiper-wrapper
          li.tariffs__list-item.swiper-slide
            .tariffs__list-item-box
              h3.tariffs__list-item-title ВАТС 6
              .tariffs__list-item-price 990 ₽
              ul.tariffs__list-item-elements
                li.tariffs__list-item-element 6 сотрудников
                li.tariffs__list-item-element Интерактивное голосовое меню
                li.tariffs__list-item-element Распределение звонков
                li.tariffs__list-item-element Система аналитики данных
              a.tariffs__list-item-link(href="#") подробнее
            button.tariffs__list-item-btn(data-path="modal-tariff") Попробовать
          li.tariffs__list-item.swiper-slide
            .tariffs__list-item-box
              h3.tariffs__list-item-title ВАТС 10
              .tariffs__list-item-price 1800 ₽
              ul.tariffs__list-item-elements
                li.tariffs__list-item-element 10 сотрудников
                li.tariffs__list-item-element Интерактивное голосовое меню
                li.tariffs__list-item-element Распределение звонков
                li.tariffs__list-item-element Система аналитики данных
              a.tariffs__list-item-link(href="#") подробнее
            button.tariffs__list-item-btn(data-path="modal-tariff") Попробовать
          li.tariffs__list-item.swiper-slide
            .tariffs__list-item-box
              h3.tariffs__list-item-title ВАТС 15
              .tariffs__list-item-price 2500 ₽
              ul.tariffs__list-item-elements
                li.tariffs__list-item-element 15 сотрудников
                li.tariffs__list-item-element Интерактивное голосовое меню
                li.tariffs__list-item-element Распределение звонков
                li.tariffs__list-item-element Система аналитики данных
              a.tariffs__list-item-link(href="#") подробнее
            button.tariffs__list-item-btn(data-path="modal-tariff") Попробовать
        .swiper-pagination
        .tariffs__swiper-navigation
          .tariffs__swiper-navigation-prev
            +icon-mono("arrow-back")(width="46px" height="46px")
          .tariffs__swiper-navigation-next
            +icon-mono("arrow-back")(width="46px" height="46px")
