section.worked-better
  .site-container
    h2.worked-better__title Мы сделали так, чтобы <br> Вы #[span работали лучше]
    .worked-better__swiper-wrapper
      .worked-better__swiper
        .swiper-wrapper
          .swiper-slide
            .worked-better__swiper-item
              img.worked-better__swaper-item-img(src="assets/images/worked-better/image-1.jpg" alt="")
              p.worked-better__swaper-item-text Изучайте эффективность деятельности персонала с обширным журналом звонков и удобным аудио-плеером записей разговоров
          .swiper-slide
            .worked-better__swiper-item
              img.worked-better__swaper-item-img(src="assets/images/worked-better/image-1.jpg" alt="")
              p.worked-better__swaper-item-text Удобная система отслеживания клиентов
          .swiper-slide
            .worked-better__swiper-item
              img.worked-better__swaper-item-img(src="assets/images/worked-better/image-1.jpg" alt="")
              p.worked-better__swaper-item-text Понятный интерфейс позволит Вам не тратить драгоценное время на изучение функциональности системы
          .swiper-slide
            .worked-better__swiper-item
              img.worked-better__swaper-item-img(src="assets/images/worked-better/image-1.jpg" alt="")
              p.worked-better__swaper-item-text Удобная настройка функций для приятного пользования
        .swiper-pagination
        .worked-better__swiper-navigation
          .worked-better__swiper-navigation-prev
            +icon-mono("arrow-back")(width="46px" height="46px")
          .worked-better__swiper-navigation-next
            +icon-mono("arrow-back")(width="46px" height="46px")