section.cube-possibilities(id="possibilities")
  .site-container-2
    .cube-possibilities__wrapper
      h2.cube-possibilities__title.title-2 Дополнительные возможности
      .cube-possibilities__inner
        ul.cube-possibilities__items
          li.cube-possibilities__item
            .cube-possibilities__item-title Высокоскоростные порты:
            p.cube-possibilities__item-text
              | WAN и LAN порты с поддержкой до 1000 Мбит/с для максимальной производительности.
          li.cube-possibilities__item
            .cube-possibilities__item-title Wi-Fi радар
            p.cube-possibilities__item-text
              | Маршрутизатор сканирует запросы, в которых содержится название сетей, уровень сигнала, номер канала, на котором работает устройство.
          li.cube-possibilities__item
            .cube-possibilities__item-title Дизайн
            p.cube-possibilities__item-text
              | Элегантный корпус белого цвета, который гармонично впишется в любой интерьер.
          li.cube-possibilities__item
            .cube-possibilities__item-title Поддержка SIP и IPTV
            p.cube-possibilities__item-text
              | Возможность подключения SIP телефонии и интерактивного телевидения.
          li.cube-possibilities__item
            .cube-possibilities__item-title MU-MIMO
            p.cube-possibilities__item-text
              | позволяет роутеру одновременно общаться с несколькими устройствами, уменьшая задержки и увеличивая производительность сети.
          li.cube-possibilities__item
            .cube-possibilities__item-title Легкость масштабирования
            p.cube-possibilities__item-text
              | При необходимости сеть легко расширяется добавлением дополнительных точек доступа без необходимости прокладки кабелей.
        .cube-possibilities__box
          .cube-possibilities__box-imgs
            img.cube-possibilities__box-img(src="assets/images/cube-possibilities/lines-1.svg" alt="")
            img.cube-possibilities__box-img(src="assets/images/cube-possibilities/lines-2.svg" alt="")
          img.cube-possibilities__img(src="assets/images/cube-possibilities/modem.svg" alt="")



