section.cube-application
  .site-container-2
    .cube-application__wrapper
      h2.cube-application__title
        | Оцените все преимущества Wi-Fi роутера
      a.cube-application__button.button-2.button-2--big.button-2--white Оставить заявку
