section.cube-plus
  .site-container-2
    .cube-plus__wrapper
      h2.cube-plus__title.title-2 Преимущества Wi-Fi роутера
      ul.cube-plus__items
        li.cube-plus__item
          .cube-plus__item-title Wi-Fi подключение
          .cube-plus__item-box
            .cube-plus__item-text.cube-plus__item-text--big до #[span 500 М]бит/с
            img.cube-plus__item-img(src="assets/images/cube-plus/icon-1.svg" alt="")
        li.cube-plus__item
          .cube-plus__item-title Возможность удаленной диагностики роутера
          .cube-plus__item-box
            .cube-plus__item-text без выезда технического специалиста
            img.cube-plus__item-img(src="assets/images/cube-plus/icon-2.svg" alt="")
        li.cube-plus__item
          .cube-plus__item-title Поддержка MU-MIMO
          .cube-plus__item-box.cube-plus__item-box--colm
            .cube-plus__item-text Повышает качество передачи видео и онлайн игр
            img.cube-plus__item-img(src="assets/images/cube-plus/icon-4.svg" alt="")
        li.cube-plus__item
          .cube-plus__item-title Поддержка MESH
          .cube-plus__item-box
            .cube-plus__item-text единая Wi-Fi сеть по всему дому
            img.cube-plus__item-img(src="assets/images/cube-plus/icon-3.svg" alt="")
        li.cube-plus__item.cube-plus__item--colm-2
          .cube-plus__item-title Работа в двух диапазонах частот: 2,4
          .cube-plus__item-box
            .cube-plus__item-text ГГц и 5 ГГц
            img.cube-plus__item-img(src="assets/images/cube-plus/icon-5.svg" alt="")