section.cube-advantages
  .site-container-2
    ul.cube-advantages__items
      li.cube-advantages__item
        img.cube-advantages__item-img(src="assets/images/cube-advantages/icon-1.svg" alt="")
        .cube-advantages__item-title
          | Современный процессор
      li.cube-advantages__item
        img.cube-advantages__item-img(src="assets/images/cube-advantages/icon-2.svg" alt="")
        .cube-advantages__item-title
          | Собирается в mesh-сеть
      li.cube-advantages__item
        img.cube-advantages__item-img(src="assets/images/cube-advantages/icon-3.svg" alt="")
        .cube-advantages__item-title
          | Индивидуальность в интерьере
