section.cube-possibilities
  .site-container-2
    .cube-possibilities__wrapper
      h2.cube-possibilities__title.title-2 Дополнительные возможности
      .cube-possibilities__inner
        ul.cube-possibilities__items
          li.cube-possibilities__item
            .cube-possibilities__item-title Wi-Fi радар
            p.cube-possibilities__item-text
              | Маршрутизатор сканирует запросы, в которых содержится  название сетей, уровень сигнала, номер канала, на котором работает устройство.
          li.cube-possibilities__item
            .cube-possibilities__item-title Дизайн
            p.cube-possibilities__item-text
              | Роутер спроектирован в форме куба, его можно расположить на полке.
          li.cube-possibilities__item
            .cube-possibilities__item-title Поддержка SIP и IPTV
            p.cube-possibilities__item-text
              | Возможность подключения SIP телефонии и интерактивного телевидения.
        .cube-possibilities__box
          .cube-possibilities__box-imgs
            img.cube-possibilities__box-img(src="assets/images/cube-possibilities/lines-1.svg" alt="")
            img.cube-possibilities__box-img(src="assets/images/cube-possibilities/lines-2.svg" alt="")
          img.cube-possibilities__img(src="assets/images/cube-possibilities/modem.svg" alt="")



