section.cube-intro
  .cube-intro__imgs
    img.cube-intro__img.cube-intro__img--wifi-big(src="assets/images/cube-intro/wifi-big.png" alt="")
    img.cube-intro__img.cube-intro__img--wifi-norm(src="assets/images/cube-intro/wifi-norm.png" alt="")
  .site-container-2
    .cube-intro__inner
      .cube-intro__info
        img.cube-intro__title(src="assets/images/cube-intro/title.svg" alt="")
        .cube-intro__box
          img.cube-intro__box-img-modem(src="assets/images/cube-intro/modem.png" alt="")
        .cube-intro__desc(id="typed")
        .cube-intro__texts(id="typed-strings")
          span Больше чем просто
            span.cube-intro__upper-text Интернет
          span Заполняет пространство дополняет интерьер


