main.page-main.main
  include intro.pug
  include cube-advantages.pug
  include cube-tariff.pug
  include cube-plus.pug
  include cube-possibilities.pug
  include cube-application.pug
  include cube-desc.pug
  include cube-mesh.pug