header.header
  .site-container
    .header__inner
      a.header__logo(href="/")
        img.header__logo-img(src="assets/images/logo-red.svg" alt="Logo")
      nav.nav.header__nav
        ul.nav__list
          li.nav__list-item
            a.nav__list-link(href="#tariffs") Тарифы
          li.nav__list-item
            a.nav__list-link(href="#advantages") Преимущества
          li.nav__list-item
            a.nav__list-link(href="#possibilities") Характеристики
          li.nav__list-item
            a.nav__list-link(href="#coverage") Покрытие
      button.header__call.button-2 Позвонить
      button.header__btn
        span
        span
        span
