.main-menu
  .main-menu__container
    .site-container
      nav.nav
        ul.nav__list
          li.nav__list-item
            a.nav__list-link(href="#description") Что это
          li.nav__list-item
            a.nav__list-link(href="#solutions") Задачи
          li.nav__list-item
            a.nav__list-link(href="#advantages") Преимущества
          li.nav__list-item
            a.nav__list-link(href="#tariffs") Тарифы