.main-menu
  .site-container
    nav.nav
      ul.nav__list
        li.nav__list-item
          a.nav__list-link(href="#") Что это
        li.nav__list-item
          a.nav__list-link(href="#") Задачи
        li.nav__list-item
          a.nav__list-link(href="#") Преимущества
        li.nav__list-item
          a.nav__list-link(href="#") Тарифы