.advantages {
  padding: 6.5rem 0;

  @include mq(sm) {
    padding: 4rem 0;
  }

  &__title {
    margin-bottom: 6.4rem;

    @include mq(md) {
      text-align: center;
    }

    @include mq(sm) {
      margin-bottom: 4rem;
    }
  }

  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;

    @include mq(lg) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__list-item {
    position: relative;
    margin-bottom: 3rem;
    padding: 2.5rem;
    border-radius: 4.4rem;
    background: #FFF;
    box-shadow: 0 0.3rem 1.9rem 0 rgba(0, 0, 0, 0.25);

    @include mq(sm) {
      padding: 2.5rem 2rem;
      border-radius: 2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }

    &.active {
      .advantages__list-item-cross {
        background-image: url('../images/advantages/close-btn.svg');
      }
    }
  }

  &__list-item-contain {
    display: flex;
    cursor: pointer;
  }

  &__list-item-icon {
    width: 8.4rem;
    height: 9rem;
    margin-right: 2rem;

    @include mq(sm) {
      width: 5.4rem;
      height: 5.8rem;
    }

    @include mq(custom, max, 410) {
      width: 3.5rem;
      height: 3.5rem;
      margin-right: 1.3rem;
    }
  }

  &__list-item-title {
    font-weight: 700;
    font-size: 4.6rem;
    margin-right: 7rem;

    @include mq(custom, min, 1440) {
      font-size: 3rem;
    }

    @include mq(custom, max, 1400) {
      font-size: 3.7rem;
    }

    @include mq(sm) {
      font-size: 2rem;
    }

    @include mq(custom, max, 410) {
      font-size: 1.8rem;
    }
  }

  &__list-item-cross {
    position: absolute;
    top: 2.5rem;
    right: 2.5rem;
    width: 4.4rem;
    height: 4.4rem;
    background-image: url('../images/advantages/exit-btn.svg');
    background-size: contain;
    background-repeat: no-repeat;

    @include mq(sm) {
      width: 3.1rem;
      height: 3.1rem;
    }

    @include mq(custom, max, 410) {
      right: 2rem;
    }
  }

  &__list-item-content-wrapper {
    height: 0;
    overflow: hidden;
  }

  &__list-item-content {
    margin-top: 3rem;
    font-weight: 500;
    font-size: 3.1rem;

    p {
      margin-bottom: 1.2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @include mq(custom, min, 1440) {
      font-size: 3rem;
    }

    @include mq(custom, max, 1400) {
      font-size: 2.8rem;
    }

    @include mq(sm) {
      font-size: 1.8rem;
    }

    @include mq(custom, max, 410) {
      margin-top: 2rem;
      font-size: 1.6rem;
    }
  }
}
